<h2>Full State</h2>
{{states-select value=state}}
<br/>
{{state}}
<hr>
<h2>Disabled</h2>
{{states-select da=true disabled=true value=state}}
<hr>
<h2>With Canadian Provinces</h2>
{{states-select da=true show-canada=true value=state}}
<hr/>
<h2>State Code</h2>
{{states-select onlyDisplayStateCode=true value=state2 }}
<br/>
{{state2}}
<hr/>
<h2>Focus Out</h2>
{{states-select onlyDisplayStateCode=true value=state3 on-focus-out=(action "focusOut") }}

